.bg{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.login {
    border: solid 1px;
    border-color: rgb(102, 175, 206); 
    align-content: center;
    margin-top:50px;
    margin-left: 400px;
    margin-right: 400px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
    display: block;
}

.list_div { 
    margin-left: 80px;
    margin-right: 400px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
}

.row {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.row_index{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.row_radio {
    display: flex;
    margin-right: 10px;
}
  
.column_label{
    width: 20%;
}

.column_input{
    margin-right: 10px;
    width: 50%;
}

.column_input_index{
    width: 50%;
}

.column{
    width:5%;
}

.div_time{
    background-color:rgb(220, 220, 220);
    color: black;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.div_tab{
    font-size: 18px;
    color: rgb(0, 0, 0); 
    padding-top:20px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;

}

.div_table{
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}

.div_label{
    text-align: center;
    font-size: 18px;
    background-color:rgb(86, 131, 186);
    border: solid 1px;
    border-color:rgb(103, 158, 182); 
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:20px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.radio{
    font-size: 20px;
    text-align: center;
    padding-right: 50px;
}

.input_radio{
    margin-right:10px
}


.div_button_index{
    background-color:rgb(86, 131, 186);
    border: solid 1px;
    border-color:rgb(103, 158, 182); 
    color: white;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 18%;
    font-size: 16px;
    height: 90%
}


.div_button{
    background-color:rgb(86, 131, 186);
    border: solid 1px;
    border-color:rgb(103, 158, 182); 
    color: white;
    padding: 10px;
    padding-top:20px;
    padding-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 25%;
    height: 100%
}

.center {
    margin-top:60px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn_tk {
    margin-top:60px;
    position: relative;
    left: 39%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.btn_add {
    position: relative;
    background-color:rgb(86, 131, 186);
    border: solid 1px;
    border-radius: 7px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color:rgb(86, 131, 186);
    color: white;
    text-align: center;
    font-size: 15px;
}

.btn_change_delete {
    border: solid 1px;
    position: relative;
    border-color:rgb(103, 158, 182); 
    background-color:rgb(86, 131, 186);
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    padding:10px;
    text-align: center;
    font-size: 15px;
}

.div_input{
    border: solid 2px;
    background-color:rgb(255, 255, 255);
    border-color:rgb(103, 158, 182); 
    padding: 10px;
    padding-top:15px;
    padding-bottom: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 130%;
    margin-right: 10px;
}

.div_input_tukhoa{
    border: solid 2px;
    background-color:rgb(255, 255, 255);
    border-color:rgb(103, 158, 182); 
    padding: 10px;
    padding-top:15px;
    padding-bottom: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 69.5%;
}

.div_select_khoa{
    cursor:pointer;
    border: solid 2px;
    background-color:rgb(255, 255, 255);
    border-color:rgb(103, 158, 182); 
    padding: 10px;
    padding-top:15px;
    padding-bottom: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 75%;
}

.div_select{
    cursor:pointer;
    position: relative;
    border: solid 2px;
    background-color:rgb(255, 255, 255);
    border-color:rgb(103, 158, 182); 
    padding: 10px;
    padding-top:15px;
    padding-bottom: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 75%;
}


.div_radio{
    background-color:rgb(255, 255, 255);
    padding: 10px;
    padding-top:15px;
    padding-bottom: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    margin-right: 10px;
}

.input_date{
    border: solid 2px;
    background-color:rgb(255, 255, 255);
    border-color:rgb(103, 158, 182); 
    padding: 10px;
    padding-top:15px;
    padding-bottom: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 66.5%;
    color: black;
}

input[type=date]:invalid::-webkit-datetime-edit {
    color:rgb(219, 216, 221);;
}

.div_notfi{
    color:crimson;
    margin-left:10px;
    margin-bottom: 5px;
    padding: 5px;
}

.input_img{
    text-align: center;
    background-color:rgb(255, 255, 255);
    padding: 10px;
    padding-top:15px;
    padding-bottom: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    color: black;
}

.text{
    background-color:rgb(255, 255, 255);
    padding: 10px;
    padding-top:15px;
    padding-bottom: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 130%;
    margin-right: 10px;
}

.div_label_confirm{
    text-align: center;
    height: 20px;
    font-size: 18px;
    background-color:rgb(86, 131, 186);
    border: solid 1px;
    border-color:rgb(103, 158, 182); 
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:20px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}


.table_0
{
    border-collapse: separate;
    border-spacing: 25px 20px;
}
